.button {
  border: 1px solid darkblue;
  background-color: lightblue;
  border-radius: 20px;
  text-align: center;
  padding: 10px 0;
}

.navbar {
  margin-top: 20px;
}

.logo img {
  width: 20em;
  height: auto;
  display: flex;
}

html {
  height: 100%;
  background: linear-gradient(to bottom, #ff9966 0%, #ccff33 100%);
}
